.nav {
  position: fixed;
  display: flex;
  width: 100%;
  justify-content: space-between;
  height: 50px;
  background: linear-gradient(45deg, rgb(156, 14, 156), midnightblue);
}

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.nav-link {
  margin-right: 40px;
  // color: #f1f1f1;
  text-decoration: none;
  list-style-type: none;
  cursor: pointer;
}
.hamburger {
  display: none;
  color: #000;
}
.active {
  border-bottom: 1px solid red;
}

@media screen and (max-width: 500px) {
  .nav-links {
    flex-direction: column;
    height: auto;
  }

  .nav-link:nth-child(1) {
    border-top: 1px solid rgba(255, 255, 255, 0.555);
    margin-top: 50px;
  }

  .nav-link {
    width: 100%;
    border-top: 1px solid rgba(255, 255, 255, 0.555);
    text-align: center;
    margin-right: 0px;
    padding: 20px 0;
  }

  .hamburger {
    display: block;
  }
  // .nav-item ul {
  //   display: none;
  // }
}
